@font-face {
    font-family: 'Blacklisted';
    src: url('../fonts/Blacklisted.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    width: 95%;
    margin: 0 auto;
    background-color: #000000;
    background-image: url('/img/Logo.jpg');
    background-size: 95%;
    background-repeat: repeat-y;
    background-position: center top;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(255, 255, 255, 0.296), transparent);
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-container {
    position: absolute;
}

.logo {
    width: 110px;
    height: auto;
}

.name-container {
    position: relative;
    margin-left: 90px;
    bottom: 20px;
}

.name-image {
    margin-top: 35px;
    width: 500px;
    height: auto;
    transition: transform 0.3s;
}

.name-container:hover .name-image {
    transform: scale(1.1);
}

nav {
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Blacklisted', sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

nav ul li a:hover {
    transform: scale(1.2);
}

.info-container {
    color: #ffffff;
    text-align: center;
    margin: 120px auto;
    font-size: 35px;
    margin-bottom: 30px;
    background-color: #00000082;
}

.container-images {
    position: relative;
    width: 100%;
    background-color: #00000049;
    margin: 0 auto;
    margin-bottom: 10%;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.section {
    margin: 2em 0;
    padding: 0 1em;
    position: relative;
}

.images {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1em;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.images::-webkit-scrollbar {
    display: none;
}

.images img {
    display: inline-block;
    margin: 10px;
    width: auto;
    height: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button i {
    font-size: 80px;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.fullscreen-img {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen-img img {
    max-width: 90%;
    max-height: 90%;
}

.social-media {
    position: fixed;
    bottom: 20px;
    right: 0px;
    text-align: center;
    z-index: 1000;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.4);
}

.platforms-container {
    position: fixed;
    bottom: 15px;
    left: 0px;
    text-align: center;
    z-index: 1000;
}

.platforms-title {
    font-family: 'Blacklisted', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 20px;
}

.platforms-image {
    max-width: 150px;
    height: auto;
}

footer {
    font-family: 'Blacklisted', sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    color: #fff;
}


@media (max-width: 768px) {

    header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
        align-items: center;
        height: 40px;
        width: 100%;
        top: 0;
        left: 0%;
        z-index: 1000;
    }

    .logo-container {
        position: absolute;
    }

    .logo {
        width: 40px;
        height: auto;
    }

    .name-container {
        position: relative;
        margin-left: 25px;
        bottom: 20px;
    }

    .name-image {
        margin-top: 35px;
        width: 100px;
        height: auto;
        transition: transform 0.3s;
    }

    .name-container:hover .name-image {
        transform: scale(1.1);
    }

    nav {
        margin-left: 10px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-family: 'Blacklisted', sans-serif;
        font-weight: bold;
        font-size: 10px;
        display: flex;
        align-items: center;
        transition: transform 0.3s;
    }

    nav ul li a:hover {
        transform: scale(1.2);
    }

    .info-container {
        color: #ffffff;
        text-align: center;
        font-size: 15px;
        margin-bottom: 30px;
        background-color: #00000082;
        margin-top: 50px;
    }
    
    .container-images {
        position: relative;
        width: 100%;
        background-color: #00000049;
        margin: 0 auto;
        margin-bottom: 10%;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
    }
    
    .images img {
        display: inline-block;
        margin: 10px;
        width: auto;
        height: 200px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        transition: 0.3s;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .scroll-button i {
        font-size: 50px;
    }
    
    .fullscreen-img {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .social-media {
        position: fixed;
        bottom: 20px;
        right: 0px;
        text-align: center;
        z-index: 1000;
    }

    .video-container iframe {
        width: 100%;
        height: 250px;
    }

    .social-media a {
        margin: 0 10px;
    }

    .social-media img {
        width: 20px;
        height: auto;
        transition: transform 0.3s;
    }

    .social-media img:hover {
        transform: scale(1.4);
    }

    .platforms-container {
        position: fixed;
        bottom: 15px;
        left: 0px;
        text-align: center;
        z-index: 1000;
    }

    .platforms-title {
        font-family: 'Blacklisted', sans-serif;
        font-size: 10px;
        margin-bottom: 0px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.727);
        border-radius: 20px;
    }

    .platforms-image {
        max-width: 70px;
        height: auto;
    }

    footer {
        font-family: 'Blacklisted', sans-serif;
        text-align: center;
        font-size: 10px;
        background-color: rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        color: #fff;
    }

}